body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

div#top {
    height: 100px;
    background-color: chartreuse;
    font-size: 15px;
}

#content {
    padding: 30px 15px;
}

#footer {
    height: 50px;
    background-color: #1c1d1f;
    color: white;
}

